/*
* author:;
* description:;
* date:;
*/
h1 {
	color: green;
}
span {
	font-size: 14px;
}
p {
	background-color: red;
}

/*css注释*/
/*
note：
1，css注释不能嵌套，否则不能不能成对匹配
2，css没有像//这样的注释，只有一种注释方式
*/

css选择器：
1，通用选择器：* 一般不用，优先级高于继承的样式
2，id选择器： #id， 根据标签的id属性值进行选取，设置样式
注意：a)html页面中间id的值不应该有重复，id值应该是唯一的
	  b)id命名必须只能包含字母（区分大小写）下划线跟数字
		且只能是字母开头
	  c)不允许用标签名例如li head之类的直接拿来命名id
3, 类选择器：通过相同的class属性设置相同样式，.class
注意：一个标签可以拥有多个类，例如class="class1 class2"
	  两个class中间用空格隔开
4,复合选择器：例如h3.one p#id
4.1标签制定选择器：label.class1
注意：a）类选择器前面带标签修饰，只有当这个标签拥有相应的
		类的时候才会出现效果，如果是这个标签里面
		某个标签拥有这样的class是不会出现效果的，因为这时候
		class位置表示其实是 label1>label2.class1
	  b)其他标签即使拥有class也是不会被设置效果，符合选择
		器是在制定的标签上面起作用。
4.2后代选择器: .class1 li 设置class1下面的所有li标签
注意：底层实际上是从右向左执行，也就是先找到li 在向左
查找它的父容器看看是不是有相应的class
4.3并集选择器：多个选择器之间用”，“隔开，设置同一个样式
4.4子元素选择器：与后代选择器相似，但是只是会设置下一级
	的标签，div>p
4.5属性选择器：h1[id]表示拥有id属性的h1
			   h1[id][class]同时拥有id跟class的h1
			   input[type="text"]拥有type并且值为text的input


各种选择器区分：
1，class的属性值在一个页面内部可以出现很多次，而id的
属性值只可以出现一次。
2，一个标签可以有多个类。
3，建议尽量使用类选择器。只有当确实能够确定在页面中标签
只会出现一次，这时候可以使用id选择器，如果不能保证标签
的唯一就尽量使用class选择器。

伪类与伪元素：
1，伪类：分别有 :link :visited :hover :active :focus


/*通用选择器*/
* {

}
/*id选择器*/
#id-p {

}
/*类选择器*/
.class-web {

}
/*复合选择器*/
h1.class1 {

}
p#id1 {

}

.class1 li {

}

div li {

}

h1,h2 {

}

div>p {

}